# Twitter API設定
PPPOST_TWITTER_APPKEY=your_twitter_app_key
PPPOST_TWITTER_APPSECRET=your_twitter_app_secret

# Threads API設定
PPPOST_THREADS_CLIENT_ID=your_threads_client_id
PPPOST_THREADS_CLIENT_SECRET=your_threads_client_secret
PPPOST_THREADS_REDIRECT_URL=https://your-app-url/

# データ暗号化設定
PPPOST_DATA_SECRET=your_32_byte_secret_key
PPPOST_DATA_IV=your_16_byte_iv


# Cloudflare R2設定
R2_ACCOUNT_ID=your_cloudflare_account_id
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_BUCKET_NAME=pppost-img-tmp
R2_PUBLIC_URL=https://pub-xxxxxxxx.r2.dev

# その他
PPPOST_BUILD_AT=2024-01-01T00:00:00Z
ENV_VER=1.0.0